# Ignore .env file
.env
/.venv/

# Ignore Jupyter notebook checkpoints
*.ipynb_checkpoints/

# Ignore Python bytecode files
__pycache__/

# Ignore history files
.history/

# Ignore temporary files
*.tmp
*.bak
*.swp

# Ignore build and distribution files
build/
dist/

# Ignore IDE and editor files
.idea/
.vscode/

# Ignore log files
*.log

# Ignore backup files
*~
